### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*
.env

node_modules
packege-lock.json
bower_components
dist/
build/

*.sublime*

psd
thumb
sketch

server/.env
server/serviceAccountKey.json

firebase-admin-server/serviceAccountKey.json
firebase-admin-server/.env

backend/.env
backend/node_modules
backend/package-lock.json