### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*
.env

node_modules
bower_components
dist/
build/

*.sublime*

psd
thumb
sketch

server/.env
server/serviceAccountKey.json

firebase-admin-server/serviceAccountKey.json
