/* css inherit from homescreen.css */

.title {
    text-align: center;
    font-size: 48px;
    color: #32462f;
}

.btn-green-outline {
    border-color: #203a32;
    color: #203a32;
}

.btn-green-outline:hover {
    background-color: #203a321b
}

/* Backgrounds */
.bg-featured-box-a {
    background-color: #ffffff;
    color: #fff;
    gap: 40px;
}
.bg-featured-box-b {
    background-color: #32462f;
    color: #fff;
}
.bg-featured-box-c {
    background-color: #ffffffcb;
    color: #fff;
    gap: 40px;
}
.bg-featured-box-d {
    background-color: #32462f;
    color: #fff;
}
.bg-featured-box-e {
    background-color: #006241;
    color: #fff;
}

/* custom*/
.featured-box-a-inner {
    background-color: #d2d2ae;
    text-align: center;
    padding-bottom: 40px;
    text-align: center;
}

.text-drink-header-a {
    padding: 0px 80px 0 80px;
    font-family: "Helvetica";
    font-weight: bold;
    color: #1e3932;
}

.text-drink-description-a {
    padding: 0px 80px 0 80px;
    color: #1e3932;
}

.featured-box-c-inner {
    background-color: #5f4633;
    text-align: center;
    padding-bottom: 40px;
    text-align: center;
}

.text-drink-header-c {
    padding: 0px 80px 0 80px;
    font-family: "Helvetica";
    font-weight: bold;
    color: #ffffff;
}

.text-drink-description-c {
    padding: 0px 80px 0 80px;
    color: #ffffff;
}