
.box-f .box-text {
    max-width: 600px;
}

/* Buttons */
.btn {
    cursor: pointer;
    display: inline-block;
    background: none;
    border: 1px #000 solid;
    border-radius: 50px;
    padding: 7px 16px;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
}

.btn-dark-outline {
    border-color: #000;
    color: #000;
}

.btn-dark-outline:hover,
.btn-light-outline:hover {
    background-color: rgba(0, 0, 0, 0.06);
}

.btn-light-outline {
    border-color: #fff;
    color: #fff;
}

.btn-dark {
    background-color: #000;
    color: #fff;
}

.btn-dark:hover {
    background-color: #333;
}

/* Backgrounds */
.bg-box-a {
    background-color: #006241;
    color: #fff;
}
.bg-box-b {
    background-color: #32462f;
    color: #fff;
}
.bg-box-c {
    background-color: #440010cb;
    color: #fff;
}
.bg-box-d {
    background-color: #5f4633;
    color: #fff;
}
.bg-box-e {
    background-color: #006241;
    color: #fff;
}


