@import "tailwindcss/preflight";
@tailwind utilities;

/* Note: import font like this is idiotic */
/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap"); */

:root {
    --color-primary: #006241;
    --color-secondary: #d50032;
    --color-extra: #d4e9e2;
}

html, body {
    font-family: "Open Sans", sans-serif;
    line-height: 2;
    color: #000;
}

a {
    color: #000;
}

ul {
    list-style: none;
}

p {
    margin: 5px 0;
    line-height: 1.7;
}

img {
    max-width: 100%;
}

section a {
    color: #fff;
}

h5 {
    color: rgba(0, 0, 0, 0.56);
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5;
    margin: 10px 0;
}
.text-center {
    text-align: center;
}

.text-xl {
    font-size: 40px;
}

.text-lg {
    font-size: 32px;
}

.text-md {
    font-size: 28px;
}

.text-sm {
    font-size: 24px;
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .grid-col-2 {
        grid-template-columns: 1fr;
    }

    .grid-reversed :first-child {
        order: 0;
    }

    .navbar-brand img {
        width: 40px;
        height: 40px;
    }

    .navbar .navbar-nav-left,
    .navbar .navbar-nav-right {
        display: none;
    }
}

@media (max-width: 960px) {
    .text-xl {
        font-size: 32px;
    }

    .text-lg {
        font-size: 24px;
    }

    .text-md {
        font-size: 18px;
    }

    .text-sm {
        font-size: 14px;
    }
}

@media (min-width: 1440px) {
    .box {
        max-width: 1440px;
        margin-right: auto;
        margin-left: auto;
    }

    .divider {
        max-width: 90%;
    }
}
