@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Note: import font like this is idiotic */
/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap"); */

html,
body {
    line-height: 2;
    font-family: "Open Sans", sans-serif;
}


ul {
    list-style: none;
}

p {
    margin: 5px 0;
    line-height: 1.7;
}

img {
    max-width: 100%;
}

section a {
    color: #fff;
}

h5 {
    color: rgba(0, 0, 0, 0.56);
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5;
    margin: 10px 0;
}

.text-center {
    text-align: center;
}

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .grid-col-2 {
        grid-template-columns: 1fr;
    }

    .grid-reversed :first-child {
        order: 0;
    }

    .navbar-brand img {
        width: 40px;
        height: 40px;
    }

    .navbar .navbar-nav-left,
    .navbar .navbar-nav-right {
        display: none;
    }
}

@media (min-width: 1440px) {
    .box {
        max-width: 1440px;
        margin-right: auto;
        margin-left: auto;
    }

    .divider {
        max-width: 90%;
    }
}
